.menu {
  box-sizing: border-box;
    width: 320px;
    margin: 6px auto;
    background-color: var(--greenActive);
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    color: var(--white);
    display: flex;
    border: 1px solid var(--green);
    align-items: center;
    justify-content: space-between;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 50%;
    transition: all 250ms ease-in;
    cursor: pointer;
    color: var(--white);
    background-color: var(--redActive);
  }
  .btn:is(:hover, :focus) {
    background-color: var(--redActive);
  }
 .container {
  display: flex;
  align-items: center;
  gap: 6px;

 }