.filter {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    position: relative;
    padding: 6px;
}
.info {
    color: var(--grey);
    font-size: 14px;
    margin-bottom: 0;
}
.input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--grey);
    color: var(--grey);
    margin-top: 0 auto 6px;
    font-size: 14px;
    padding-left: 6px;

}
.input:is(:hover, :focus),
.input.active {
    outline: 1px solid var(--greyActive);
}
.icon {
    position: absolute;
    color: var(--grey);
    right: 12px;
    top: 18px;
}