@import-normalize; /* bring in normalize.css styles */

:root {
  --greyActive: rgb(61, 61, 61);
  --grey: rgb(98, 98, 98);
  --redActive: rgb(255, 109, 109);
  --red: rgb(255, 9, 9);
  --blueActive: rgb(187, 187, 255);
  --blue: rgb(141, 141, 255);
  --greenActive: rgb(174, 197, 174);
  --green: rgb(87, 147, 132);
  --white: rgb(255, 255, 255);
  --whiteBg: rgba(255, 255, 255, 0.4);
  --black: rgb(0, 0, 0);

}

body {
  background-image: url(./img/trianglify-lowres.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0px;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  transition: all 250ms ease-in;
  cursor: pointer;
}