.contactList{
    box-sizing: border-box;
    width: 320px;
    margin: auto;
    padding: 6px 6px;
    border: 1px solid;
    border-color: var(--grey);
    border-radius: 3px;
    font-size: 14px;
}
.item {
    display: flex;
    justify-content: space-between;
    color: var(--grey); 
} 
.item:not(:last-child) {
    margin-bottom: 10px; 
}
.contact {
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn {
    background-color: var(--red);
    color: var(--white);
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 50%;
    transition: all 250ms ease-in;
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
}
.contactNumber {
    transition: all 250ms ease-in;
}
.btn:is(:hover, :focus) {
    background-color: var(--redActive);
}
.icon:is(:hover, :focus) {
    background-color: var(--blueActive);
}
.contactNumber:is(:hover, :focus){
    color: var(--greyActive);
}